#login {
    margin-right: 15px;
}

.btn-primary{
    background-color: #588157 !important;
}

.bg-primary {
    background-color: #A3B18A !important;
}

.bottom-buffer { margin-bottom:1%; }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212529;
    color: white;
    text-align: center;
  }